section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top:120px;
    align-items: center;
 
}
textarea{
    
    background-color: whitesmoke;
    border:2px solid green;
    width:950px;
    font-size:18px;
    margin-left:80px;
    padding:6px;
    height:30px;
    color:black;
}
.logo{
    background-color:rgba(70, 65, 65, 0.716);
    height:80px;
    width:51%;
    display:flex;
    font-size:20px;
    align-items: center;
   
}
body{
    background-color: beige;
}
.size{
    font-size:30px;
    color:black;
    text-align:center;
}

.message{
    height:500px;
    width:50%;
    
    border:2px solid green;
    background-color:white;
    padding:10px;
    overflow-y:auto;
}
.incoming{
   
    font-size: 16px;
    color:black;
   
    margin-left:auto;
    width:40%;

}
.outgoing p{
    border:2px solid green;
    background-color: red;
    padding:4px;
    gap: 2px;
    font-size: 20px;
}
.incoming p{
    border:2px solid green;
    background-color: pink;
    padding:4px;
    gap: 6px;
    font-size: 20px;
}
.outgoing{
   
    font-size: 16px;
    color:black;
    width:40%;
}
